DOMAIN=lamoda-specials.ru
ADMIN_DOMAIN=admin.lamoda-specials.ru
LETSENCRYPT_EMAIL=admin@lamoda-specials.ru

POSTGRES_DB=lamoda_adidas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

TELEGRAM_BOT_TOKEN=
TELEGRAM_GAME_BOT_TOKEN=
ADMIN_TELEGRAM_BOT_TOKEN=
ADMIN_TELEGRAM_IDS=
TELEGRAM_TRUST_CLIENT_USER=false
TELEGRAM_APP_URL=https://t.me/lamoda_games_bot/search
TELEGRAM_SUBSCRIPTION_CHAT_ID=@lamoda_na_svyazi
TELEGRAM_SUBSCRIPTION_URL=https://t.me/lamoda_na_svyazi
REQUEST_BODY_SECRET=change-me-long-random-string
SERVER_REPLICAS=2

AUTH_TOKEN_TTL_DAYS=30
GAME_DURATION_SECONDS=600
HEARTBEAT_GRACE_SECONDS=15
PLAYER_ONLINE_WINDOW_SECONDS=15
