DOMAIN=lamoda-specials.ru
ADMIN_DOMAIN=admin.lamoda-specials.ru
LETSENCRYPT_EMAIL=admin@lamoda-specials.ru

POSTGRES_DB=lamoda_adidas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

TELEGRAM_BOT_TOKEN=
TELEGRAM_TRUST_CLIENT_USER=false
TELEGRAM_APP_URL=https://t.me/lamoda_games_bot/search
REQUEST_BODY_SECRET=change-me-long-random-string

AUTH_TOKEN_TTL_DAYS=30
GAME_DURATION_SECONDS=600
HEARTBEAT_GRACE_SECONDS=15
PLAYER_ONLINE_WINDOW_SECONDS=15
